*.iws
*.war
*.iml
*.ipr
*Db.properties
*Db.script
*.class
.settings
.classpath
.project
.idea
.DS_Store
.link_to*
prodDb.*
eclipse
stacktrace.log
out
target
target-eclipse
test/reports
web-app
grails-app/conf/Config.groovy
*.zip
plugin.xml
README
README.md
